<div class="ticket">
  <div class="uploadBadge">
    <div class="uploadBadge__number">2</div>
    <p class="uploadBadge__text">Uploaded Documents</p>
  </div>
  <p class="date">01.01.2025</p>
  <div class="request">
    <p class="request__type">Membership Request</p>
    <p class="request__id">Request ID: 12345678</p>
  </div>
  <div class="avatar">
    <img class="avatar__img" src="./assets/images/avatar.png" alt="" />
    <p class="avatar__name">Max Mustermann</p>
  </div>
  <button class="button">View Request</button>
</div>
